In [1]:
library('dplyr')
library('stringr')
library('httr')
library('tidyverse')
library('tidytext')
library('RcppMeCab')
library('readr')
library('rvest')

Warning message:
"package 'dplyr' was built under R version 3.6.2"
Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

Warning message:
"package 'stringr' was built under R version 3.6.2"Warning message:
"package 'httr' was built under R version 3.6.2"Warning message:
"package 'tidyverse' was built under R version 3.6.2"-- Attaching packages --------------------------------------- tidyverse 1.3.0 --
√ ggplot2 3.2.1     √ readr   1.3.1
√ tibble  2.1.3     √ purrr   0.3.3
√ tidyr   1.0.2     √ forcats 0.4.0
Warning message:
"package 'ggplot2' was built under R version 3.6.2"Warning message:
"package 'tibble' was built under R version 3.6.2"Warning message:
"package 'tidyr' was built under R version 3.6.2"Warning message:
"package 'readr' was built under R version 3.6.2"Warning message:
"package 'purrr' was built under R version 3.6.2"-- Conflicts ------------------------------------------ tidyverse_conflicts() --
x dplyr::filter() masks stats::filter()
x dplyr::lag()    masks stats::lag()
Warning message:
"package 'tidytext' was built under R version 3.6.2"Warning message:
"package 'RcppMeCab' was built under R version 3.6.2"Warning message:
"package 'rvest' was built under R version 3.6.2"Loading required package: xml2
Warning message:
"package 'xml2' was built under R version 3.6.2"
Attaching package: 'rvest'

The following object is masked from 'package:purrr':

    pluck

The following object is masked from 'package:readr':

    guess_encoding

In [2]:
setwd('C:\\Users\\82102\\Documents\\workingDIR\\function')
source('readcsv.R',encoding = 'UTF-8')
source('writecsv.R',encoding = 'UTF-8')

In [3]:
data <- readcsv('DICT.csv')

Warning message:
"Missing column names filled in: 'X1' [1]"Parsed with column specification:
cols(
  X1 = col_double(),
  word_id = col_double(),
  의미어 = col_character(),
  표제어 = col_character(),
  의미번호 = col_double(),
  뜻풀이 = col_character(),
  품사 = col_character(),
  난이도 = col_character()
)

In [4]:
data[data$'표제어'=='인간',]

  X1     word_id 의미어  표제어 의미번호
1 149700 149700  인간001 인간   1
2 149701 149701  인간002 인간   2
3 149702 149702  인간003 인간   3
4 149703 149703  인간004 인간   4
  뜻풀이                                                                   품사
1 생각을 하고 언어를 사용하며, 도구를 만들어 쓰고 사회를 이루어 사는 동물. 명사
2 사람이 사는 세상.                                                        명사
3 일정한 자격이나 품격 등을 갖춘 이.                                       명사
4 마음에 달갑지 않거나 마땅치 않은 사람을 낮잡아 이르는 말.                명사
  난이도
1 하
2 하
3 하
4 하

In [5]:
data[data$'의미어'=='인간001',]

  X1     word_id 의미어  표제어 의미번호
1 149700 149700  인간001 인간   1
  뜻풀이                                                                   품사
1 생각을 하고 언어를 사용하며, 도구를 만들어 쓰고 사회를 이루어 사는 동물. 명사
  난이도
1 하

In [13]:
RcppMeCab::pos(data[data$'의미어'=='인간001',][[6]],format = 'data.frame')

   doc_id sentence_id token_id token pos subtype
1  1      1            1       생각  NNG
2  1      1            2       을    JKO
3  1      1            3       하    VV
4  1      1            4       고    EC
5  1      1            5       언어  NNG
6  1      1            6       를    JKO
7  1      1            7       사용  NNG
8  1      1            8       하    XSV
9  1      1            9       며    EC
10 1      1           10       ,     SC
11 1      1           11       도구  NNG
12 1      1           12       를    JKO
13 1      1           13       만들  VV
14 1      1           14       어    EC
15 1      1           15       쓰    VV
16 1      1           16       고    EC
17 1      1           17       사회  NNG
18 1      1           18       를    JKO
19 1      1           19       이루  VV
20 1      1           20       어    EC
21 1      1           21       사    VV
22 1      1           22       는    ETM
23 1      1           23       동물  NNG
24 1      1           24       .     SF

In [29]:
ezdata <- readcsv('/original data/EZmeta30.csv')
head(ezdata)

Warning message:
"Duplicated column names deduplicated: '의미번호' => '의미번호_1' [9]"Parsed with column specification:
cols(
  pair_id = col_double(),
  `표제어 kword_id` = col_double(),
  표제어 = col_character(),
  의미번호 = col_character(),
  `표제어 난이도` = col_character(),
  relation2 = col_character(),
  `관련어 word_id` = col_double(),
  관련어 = col_character(),
  의미번호_1 = col_character(),
  `관련어 난이도` = col_character()
)

  pair_id 표제어 kword_id 표제어      의미번호 표제어 난이도 relation2
1 1       2184            가톨릭      002      하            비슷한말
2 2       2186            가톨릭-교   001      중            비슷한말
3 3       2186            가톨릭-교   001      중            비슷한말
4 4       2186            가톨릭-교   001      중            비슷한말
5 5       2188            가톨릭-교도 001      중            비슷한말
6 6       2190            가톨릭교-회 001      중            비슷한말
  관련어 word_id 관련어      의미번호_1 관련어 난이도
1  97798         서학        002        중
2  16023         공교        002        상
3 182393         천주-학     001        중
4 176596         진교        002        상
5 182378         천좍-쟁이   001        상
6 182379         천주^공교회 001        상

In [30]:
relData <- ezdata[ezdata$relation2=='비슷한말' | ezdata$relation2=='반대말',]
refine <- gsub('[^ㄱ-힣]','',relData$'표제어')
head <- paste0(refine,relData$'의미번호')
refine2 <- gsub('[^ㄱ-힣]','',relData$'관련어')
tail <- paste0(refine2,relData$'의미번호_1')
refinedData <- cbind(head,tail)
head(refinedData)

     head          tail
[1,] 가톨릭002     서학002
[2,] 가톨릭교001   공교002
[3,] 가톨릭교001   천주학001
[4,] 가톨릭교001   진교002
[5,] 가톨릭교도001 천좍쟁이001
[6,] 가톨릭교회001 천주공교회001

In [32]:
keyList1 <- readcsv('/related words/keyList1.csv')
head(keyList1)

Parsed with column specification:
cols(
  key = col_character(),
  subnodes = col_double()
)

  key           subnodes
1 ㄱㄴㄷ순001   10
2 ㄱㄴㄷ차례001 10
3 ㄱㄴ순001     10
4 ㄱㄴ차례001   10
5 ㄱ자관001      3
6 ㄱ자관002      3

In [33]:
timeData <- readcsv('NaverDictRate.csv')
timeData

Warning message:
"Missing column names filled in: 'X1' [1]"Parsed with column specification:
cols(
  X1 = col_character(),
  `startTime(UTC)` = col_character(),
  `endTime(UTC)` = col_character(),
  `processTime(sec)` = col_number(),
  `processTime(hour)` = col_double(),
  `number of data processing` = col_double(),
  `Processing Rate(data number/hour)` = col_double()
)

  X1            startTime(UTC)      endTime(UTC)       processTime(sec)
1 local_rstudio 2020-02-15 16:05:13 2020-02-16 3:13:52 40119
2 Chrome        2020-02-15 7:42:17  2020-02-16 7:03:53 84096
3 Edge          2020-02-15 7:43:44  2020-02-16 7:08:31 84287
4 IE            2020-02-15 7:43:52  2020-02-16 7:36    83804
5 Opera         2020-02-15 7:43:57  2020-02-16 7:02:04 83887
6 Brave         2020-02-15 7:44:03  2020-02-16 7:03:49 83986
7 FireFox       2020-02-15 7:44:22  2020-02-16 6:56:56 83554
8 Browser       2020-02-15 7:42:17  2020-02-16 7:36:00 86023
  processTime(hour) number of data processing Processing Rate(data number/hour)
1 11.10              31462                     2834.41
2 23.36              59730                     2556.93
3 23.41              59730                     2551.47
4 23.28              59730                     2565.72
5 23.31              59730                     2562.42
6 23.33              59730                     2560.22
7 23.21              59735                     2573.68
8 23.90             358385                    14995.19